<div class="row">  <!-- burada row 12 sütüna böler. 3 sol, 6 bizim code, 3 sağda boşluk  -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
       <div class="mb-3">
                <label for="username">Kullanıcı Adı</label>
                <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Kullancı Adı & E-mail">
                <small class="form-text text-muted invalid-syntax"></small>
            </div>
           
            <div class="mb-3">
                <label for="password">Şifre</label>
                <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre">
            </div> 	
            <div class="social-buttons">
                <asl-google-signin-button></asl-google-signin-button>
                <img src="../../../../assets/facebook (2).png" style="width: 32px; cursor:pointer" (click)="facebookLogin()" >
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value,txtPassword.value)" >Giriş Yap</button>  

            <a style="margin-left: 5px;" class="btn btn-secondary" routerLink="/password-reset">Şifremi Unuttum</a>  
            
        </div>
    <div class="col-md-3"></div>
</div>
