# ASP.NET
/ETicaretAPI/bin/
/ETicaretAPI/obj/

# Angular
/ETicaretClient/node_modules/
/ETicaretClient/dist/


# IDE / VS
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Genel
.vscode/
.idea/
*.log

# App settings
**/appsettings.json
**/appsettings.*.json

