<h2 mat-dialog-title>Sipariş Detayı</h2>
<mat-dialog-content class="mat-typography">


  <mat-toolbar>
    <span>Sipariş No : {{singleOrder.orderCode}}</span>
  </mat-toolbar>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 order-detail-table">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{element.price | currency: '₺'}}</td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
  </ng-container>

  <!-- Total Price Column -->
  <ng-container matColumnDef="totalPrice">
    <th mat-header-cell *matHeaderCellDef>Total Price</th>
    <td mat-cell *matCellDef="let element" style="color: red;">{{(element.price * element.quantity)  |currency: '₺'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.order-detail-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>
<br>
<table>
  <thead>
    <tr>
      <th colspan="1" style="text-align: right;">Toplam Fiyat:</th>
            <td style="text-align: right; color: red;">&nbsp;&nbsp;&nbsp;{{totalPrice | currency: '₺'}}</td>
    </tr>
  </thead>
</table>

<table>
  <thead>
    <tr>
      <th colspan="1" style="text-align: right;">Address:</th>
            <td style="text-align: right;">&nbsp;&nbsp;&nbsp;{{singleOrder.address}}</td>
    </tr>
  </thead>
</table>
<table>
  <thead>
    <tr>
      <th colspan="1" style="text-align: right;">Description:</th>
            <td style="text-align: right;">&nbsp;&nbsp;&nbsp;{{singleOrder.description}}</td>
    </tr>
  </thead>
</table>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Kapat</button>
  <button matButton [mat-dialog-close]="data" cdkFocusInitial (click)="complateOrder()" *ngIf="!singleOrder.complated">Siparişi Tamamla</button>
</mat-dialog-actions>
